<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lover Album - Euterpe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='songsstyle.css') }}">
</head>

<body>

    <header>
        <a href="{{ url_for('about') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Euterpe Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('artists') }}">Artists</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('searchpage') }}">New Search</a></li>
            <li><a href="{{ url_for('spotlight') }}">Artist SpotLight</a></li>
            <li><a href="{{ url_for('playlist') }}">My Playlist</a></li>
        </ul>
    </header>

    <script src="{{ url_for('static', filename='naveffect.js') }}"></script>

    <main class="songs">
        <img src="{{ url_for('static', filename='lover.jpeg') }}" width="500" height="500" alt="Lover Album Cover">

        <table align="center">
            <tr><td><strong>I FORGOT THAT YOU EXISTED</strong> – Duration: 3:55</td><td><button class="add-to-playlist" data-title="I FORGOT THAT YOU EXISTED">Add to Playlist</button></td></tr>
            <tr><td><strong>CRUEL SUMMER</strong> – Duration: 3:53</td><td><button class="add-to-playlist" data-title="CRUEL SUMMER">Add to Playlist</button></td></tr>
            <tr><td><strong>LOVER</strong> – Duration: 3:59</td><td><button class="add-to-playlist" data-title="LOVER">Add to Playlist</button></td></tr>
            <tr><td><strong>THE MAN</strong> – Duration: 3:16</td><td><button class="add-to-playlist" data-title="THE MAN">Add to Playlist</button></td></tr>
            <tr><td><strong>THE ARCHER</strong> – Duration: 4:00</td><td><button class="add-to-playlist" data-title="THE ARCHER">Add to Playlist</button></td></tr>
            <tr><td><strong>I THINK HE KNOWS</strong> – Duration: 3:35</td><td><button class="add-to-playlist" data-title="I THINK HE KNOWS">Add to Playlist</button></td></tr>
            <tr><td><strong>PAPER RINGS</strong> – Duration: 4:26</td><td><button class="add-to-playlist" data-title="PAPER RINGS">Add to Playlist</button></td></tr>
        </table>

        <form id="hiddenForm" action="{{ url_for('add_song') }}" method="post" style="display: none;">
            <input type="hidden" id="titleInput" name="title">
            <input type="hidden" name="filename" value="lover">
        </form>
    </main>

    <footer>
        <p>
            Author: Keerthi<br>
            <a href="mailto:keerthi.seela@students.iiit.ac.in">keerthi.seela@students.iiit.ac.in</a><br>
            &copy; Euterpe
        </p>
        <a href="{{ url_for('about') }}">About</a>
    </footer>

    <script src="{{ url_for('static', filename='playlist.js') }}"></script>

</body>
</html>
