<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/songsstyle.css">
</head>

<body>

    <header>
        <a href="{{ url_for('about') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Euterpe Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('artists') }}">Artists</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('searchpage') }}">New Search</a></li>
            <li><a href="{{ url_for('spotlight') }}">Artist SpotLight</a></li>
            <li><a href="{{ url_for('playlist') }}">My Playlist</a></li>
        </ul>
    </header>

    <script src="{{ url_for('static', filename='naveffect.js') }}"></script>

    <div class="songs">
        <img src="../static/rare.jpg" alt="Rare Album Cover">

        <table>
            <tr>
                <td><span class="song-title">BOYFRIEND</span> <span class="duration">- Duration: 3:55</span></td>
                <td><button class="add-to-playlist" data-title="BOYFRIEND">Add to Playlist</button></td>
            </tr>
            <tr>
                <td><span class="song-title">LOSE YOU TO LOVE ME</span> <span class="duration">- Duration: 3:53</span></td>
                <td><button class="add-to-playlist" data-title="LOSE YOU TO LOVE ME">Add to Playlist</button></td>
            </tr>
            <tr>
                <td><span class="song-title">RARE</span> <span class="duration">- Duration: 3:59</span></td>
                <td><button class="add-to-playlist" data-title="RARE">Add to Playlist</button></td>
            </tr>
            <tr>
                <td><span class="song-title">SOUVENIR</span> <span class="duration">- Duration: 3:16</span></td>
                <td><button class="add-to-playlist" data-title="SOUVENIR">Add to Playlist</button></td>
            </tr>
            <tr>
                <td><span class="song-title">SHE</span> <span class="duration">- Duration: 4:00</span></td>
                <td><button class="add-to-playlist" data-title="SHE">Add to Playlist</button></td>
            </tr>
            <tr>
                <td><span class="song-title">CROWDED ROOM</span> <span class="duration">- Duration: 3:35</span></td>
                <td><button class="add-to-playlist" data-title="CROWDED ROOM">Add to Playlist</button></td>
            </tr>
            <tr>
                <td><span class="song-title">DANCE AGAIN</span> <span class="duration">- Duration: 4:26</span></td>
                <td><button class="add-to-playlist" data-title="DANCE AGAIN">Add to Playlist</button></td>
            </tr>
        </table>

        <form id="hiddenForm" action="{{ url_for('add_song') }}" method="post" style="display: none;">
            <input type="hidden" id="titleInput" name="title">
            <input type="hidden" value="raresongs" name="filename">
        </form>
    </div>

    <footer>
        <p>Author: Keerthi<br>
            <a href="mailto:keerthi.seela@students.iiit.ac.in">keerthi.seela@students.iiit.ac.in</a><br>
            &copy; Euterpe
        </p>
        <a href="{{ url_for('about') }}">About</a>
    </footer>

    <script src="{{ url_for('static', filename='playlist.js') }}"></script>

</body>

</html>
