<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reputation Album - Euterpe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='songsstyle.css') }}">
</head>

<body>

    <header>
        <a href="{{ url_for('about') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Euterpe Logo">
        </a>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('artists') }}">Artists</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('searchpage') }}">New Search</a></li>
            <li><a href="{{ url_for('spotlight') }}">Artist SpotLight</a></li>
            <li><a href="{{ url_for('playlist') }}">My Playlist</a></li>
        </ul>
    </header>

    <script src="{{ url_for('static', filename='naveffect.js') }}"></script>

    <main class="songs">
        <img src="{{ url_for('static', filename='rep.jpg') }}" width="500" height="500" alt="Reputation Album Cover">

        <table align="center">
            <tr><td><strong>END GAME</strong> - Duration: 3:55</td><td><button class="add-to-playlist" data-title="END GAME">Add to Playlist</button></td></tr>
            <tr><td><strong>I DID SOMETHING BAD</strong> - Duration: 3:53</td><td><button class="add-to-playlist" data-title="I DID SOMETHING BAD">Add to Playlist</button></td></tr>
            <tr><td><strong>DON'T BLAME ME</strong> - Duration: 3:59</td><td><button class="add-to-playlist" data-title="DON'T BLAME ME">Add to Playlist</button></td></tr>
            <tr><td><strong>DELICATE</strong> - Duration: 3:16</td><td><button class="add-to-playlist" data-title="DELICATE">Add to Playlist</button></td></tr>
            <tr><td><strong>SO IT GOES...</strong> - Duration: 4:00</td><td><button class="add-to-playlist" data-title="SO IT GOES...">Add to Playlist</button></td></tr>
            <tr><td><strong>GORGEOUS</strong> - Duration: 3:35</td><td><button class="add-to-playlist" data-title="GORGEOUS">Add to Playlist</button></td></tr>
            <tr><td><strong>GETAWAY CAR</strong> - Duration: 4:26</td><td><button class="add-to-playlist" data-title="GETAWAY CAR">Add to Playlist</button></td></tr>
        </table>

        <form id="hiddenForm" action="{{ url_for('add_song') }}" method="post" style="display: none;">
            <input type="hidden" id="titleInput" name="title">
            <input type="hidden" name="filename" value="reputation">
        </form>
    </main>

    <footer>
        <p>
            Author: Keerthi<br>
            <a href="mailto:keerthi.seela@students.iiit.ac.in">keerthi.seela@students.iiit.ac.in</a><br>
            &copy; Euterpe
        </p>
        <a href="{{ url_for('about') }}">About</a>
    </footer>

    <script src="{{ url_for('static', filename='playlist.js') }}"></script>

</body>
</html>
